:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: dark light;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --default-vertical-margin: 1rem;
    --primary-color: #b80068;
    --default-border-radius: 8px;
}

* {
    box-sizing: border-box;
}


#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
}

table {
    width: 100%;
    text-align: left;
}

td {
    padding: 2px;
}

a {
    font-weight: 500;
    color: #a2a6dd;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: var(--primary-color);
}

.card {
    padding: 2em;
}

button {
    border-radius: var(--default-border-radius);
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}

button[disabled] {
    cursor: no-drop;
    color: #bab8b8;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button.text-only {
    background: none;
    padding: 0;
}

button.text-only:hover,
button.text-only:focus-visible {
    border: none;
    outline: none;
}

.box {
    border-radius: var(--default-border-radius);
    border: 1px solid gray;
    margin: var(--default-vertical-margin) 0;
    padding: 0.5rem
}

.box--info {
    background: rgb(60, 61, 66);
}

.small {
    font-size: 0.75rem;
}

.hidden {
    display: none;
}

.tag {
    padding: 4px 8px;
    background: rebeccapurple;
    border-radius: var(--default-border-radius);
    margin: 0 4px;
}

@media (max-width: 960px) {
    #app {
        padding: 0;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media(prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a {
        color: #282d6f;
    }

    a:hover {
        color: #747bff;
    }

    .tag {
        background: #936bbb;
        color: #ffffffed;
    }

    button.text-only {
        color: rgb(33, 53, 71);
    }

    .box--info {
        background: #bfc2d1a1;
        border-color: #696c798c;
    }

    .search-input {
        background: #f1eeee;
        border: 1px solid #00000073;
    }
}
